/*general settings*/
html{
	--renesas-background-color: #29289D;
	--span-background-color: #f8f8f8;
	--hover-color: #303030;
}

body{
	margin: 0;
  font-size: large;
}

html, table, div, p, dl, #nav-tree .label, .title, .sm-dox a, .sm-dox a:hover, .sm-dox a:focus, #projectname, .SelectItem, #MSearchField, .navpath li.navelem a, .navpath li.navelem a:hover {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

h1{
	float: left;
	color: black; 
}

h2{
	text-align: left;
	margin: 0;
}

details{
	background-color: var(--span-background-color);
	box-shadow: 2px 2px 2px #d4d4d4;
	margin-top: 1%;
	padding-left: 2px;
	padding-bottom: 2px;
}

details summary {
  cursor: pointer;
}

summary {
  font-size: 25px;
  font-weight: bold;
}

details p {
	margin-left: 15px;
	margin-bottom: 15px;
}

/*general settings end*/

/*Classes*/
.banner{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin: 0;
	width: 100%;
  z-index: 1;
	height: 80px;
	color: white;
	background-color: var(--renesas-background-color);	
	text-align: center;
}

.banner-heading{
  float: left;
	margin-left: 10%;
	margin-top: 1.5%;
}

.banner-logo{
	height: 60%;
	float: right;
  margin-top: 1%;
  margin-right: 1%;
}

.banner-menu-button{
  float: left;
	margin-left: 1%;
	margin-top: 1%;
  font-size: 30px;
  cursor: pointer;
}

.main-content {
	margin: 15px; 
	text-align: left;
	color: black;
}

.next-page-button {
  position: relative;
  left: 43%;
  margin-top: 1.5%;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: rgb(32, 34, 179);
  color: white;
  font-weight: bold;
}

.next-page-button:hover {
  background-color: rgb(76, 78, 172);
  color: white;
}

/*Modal Image*/
/* Style the Image Used to Trigger the Modal */
.modal-thumbnails {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 20%;
}

.modal-thumbnails:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
}

/* Caption of Modal Image */
#modal-caption {
  margin: auto;
  display: block;
  max-width: 80%;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #modal-caption {  
  -webkit-animation-name: modal-zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: modal-zoom;
  animation-duration: 0.6s;
}

@keyframes modal-zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The modal-close-button Button */
.modal-close-button {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close-button:hover,
.modal-close-button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/*Modal Image End*/

/*Sidenav*/
.sidenav {
  text-align: left;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a.active {
	background-color: var(--hover-color);
	color: white;
}

.sidenav a:hover {
  color: #f1f1f1;
  letter-spacing: 1px;
}

.sidenav .sidenav-close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}
/*SideNav End*/

/*ToolTip*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #C0C0C0;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border-color: black;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
} 
/*ToolTip End*/

pre {
  position:relative;
}

.copy-code-button {
  position:absolute;
  border-radius: 5px;
  top:5px;
  right:5px;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: rgb(32, 34, 179);
  color: white;
  font-weight: bold;
}
  
.copy-code-button:hover {
  background-color: rgb(76, 78, 172);
  color: white;
}

/*Classes End*/

/*Animations*/

/*Animations End*/
